@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100hv;
    background: #0f0f0f;
    color: white;
}

/* CABEÇALHO */
header{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    border-bottom: 1px solid #222;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo i{
    font-size: 35px;
    color: #2563eb;
}

.logo h1{
    font-size: 25px;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 15px;
}

.usuario i{
    color: #2563eb;
}

.usuario button{
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: #000;
    cursor: pointer;
    transition: .3s;
}

.usuario button:hover{
    transform: scale(1.05);
}

/* DASHBOARD */
.dashboard{
    width:90%;
    max-width:1200px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

/* CARDS */
.card{
    background: #161616;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid 30px #0008;
    animation: aparecer .6s ease;
    transition: .3s;
}

.card:hover{
    transform: translateY(-8px);
    border-color: #2563eb;
}

.icone{
    font-size: 45px;
    color: #2563eb;
    margin-bottom: 15px;
}

.card h2{
    margin-bottom: 15px;
}

.card p{
    font-size: 20px;
    margin-bottom: 20px;
}

.card button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:#000;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    transform:scale(1.05);
}

.btn-admin{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    width:100%;
    margin-top:15px;
    padding:12px;
    background:#2563eb;
    color:#111;
    text-decoration:none;
    font-weight:600;
    border-radius:10px;
    transition:.3s;
}

.btn-admin:hover{
    transform:translateY(-4px);
}

/* HISTORICO */
#historico{
    list-style: none;
    text-align: left;
}

#historico li{
    background: #222;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* ANIMAÇÃO */
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* CELULAR */
@media(max-width:600px){
header{
    padding:20px;
    flex-direction:column;
    gap:20px;
}
.logo h1{
    font-size:20px;
}
.usuario{
    width:100%;
    justify-content:center;
}
.dashboard{
    width:90%;
}
.card{
    padding:25px;
}
}