@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    border-bottom:1px solid #1f2937;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo i{
    color:#2563eb;
    font-size:30px;
}

.logo h1{
    font-size:26px;
}

/* CONTAINER */
.container{
    max-width:1200px;
    margin:40px auto;
    padding:20px;
    display:grid;
    gap:25px;
}

/* CARDS */
.card{
    background:#1e293b;
    border-radius:18px;
    padding:25px;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.card h2{
    margin-bottom:20px;
    color:#2563eb;
    display:flex;
    align-items:center;
    gap:10px;
}

/* USUÁRIOS */
.usuario{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    margin-bottom:15px;
    border-radius:12px;
    background:#111827;
}

.usuario span{
    font-weight:600;
}

/* BOTÕES */
.acoes{
    display:flex;
    gap:10px;
}

.btn-editar,
.btn-excluir,
.btn-sair{
    border:none;
    cursor:pointer;
    border-radius:8px;
    padding:10px 18px;
    font-weight:600;
    transition:.3s;
}

.btn-editar{
    background:#2563eb;
    color:#111;
}

.btn-editar:hover{
    transform:translateY(-2px);
}

.btn-excluir{
    background:#ef4444;
    color:#fff;
}

.btn-excluir:hover{
    transform:translateY(-2px);
}

.btn-sair{
    background:#2563eb;
    color:#111;
}

.btn-sair:hover{
    transform:scale(1.05);
}

/* HISTÓRICO */
#listaHistorico{
    list-style:none;
}

#listaHistorico li{
    padding:12px;
    margin-bottom:12px;
    background:#111827;
    border-radius:10px;
}

/* RESPONSIVO */
@media(max-width:768px){
    header{
        flex-direction:column;
        gap:15px;
    }
    .usuario{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }
    .acoes{
        width:100%;
    }
    .btn-editar,
    .btn-excluir{
        flex:1;
    }
}